## Limpieza de base de datos

In [40]:
#Importamos el historico del precio del dolar
import pandas as pd

df_dolar = pd.read_csv(r'C:\Users\tmoli\OneDrive\Documentos\Angel\Maestria\Materias\3. Aprendizaje Automatico\BD\MXNUSD.csv')

In [41]:
#Tipo de datos y layout
print(df_dolar.head(), "\n\n", df_dolar.dtypes)

         Date     Open     High      Low   Close  Adj Close  Volume
0  2003-12-01  11.1776  11.4250  11.1776  11.358     11.358     0.0
1  2003-12-02  11.3605  11.3800  11.2740  11.290     11.290     0.0
2  2003-12-03  11.3605  11.3605  11.1860  11.245     11.245     0.0
3  2003-12-04  11.3550  11.3550  11.1590  11.188     11.188     0.0
4  2003-12-05  11.1860  11.2400  11.1230  11.197     11.197     0.0

 Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume       float64
dtype: object

In [42]:
#Renombrar
df_dolar.columns = ['Fecha', 'Precio_Inicio', 'Precio_Maximo', 'Precio_Minimo', 'Precio_Final', 'Precio_Adjunto', 'Volumen']

df_dolar.head()

,Fecha,Precio_Inicio,Precio_Maximo,Precio_Minimo,Precio_Final,Precio_Adjunto,Volumen
0,2003-12-01,11.1776,11.4250,11.1776,11.358,11.358,0.0
1,2003-12-02,11.3605,11.3800,11.2740,11.290,11.290,0.0
2,2003-12-03,11.3605,11.3605,11.1860,11.245,11.245,0.0
3,2003-12-04,11.3550,11.3550,11.1590,11.188,11.188,0.0
4,2003-12-05,11.1860,11.2400,11.1230,11.197,11.197,0.0

In [43]:
#Eliminando columnas
df_dolar = df_dolar.drop(['Precio_Adjunto', 'Volumen'], axis=1)

In [44]:
#Ordenar de mas reciente a mas antiguo 
df_dolar['Fecha'] = pd.to_datetime(df_dolar['Fecha'])

df_dolar = df_dolar.sort_values(by='Fecha', ascending=False)

In [45]:
#Quitar valores nulos
df_dolar = df_dolar.dropna(subset=df_dolar.columns[df_dolar.isnull().any()])

df_dolar.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5164 entries, 5171 to 0
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fecha          5164 non-null   datetime64[ns]
 1   Precio_Inicio  5164 non-null   float64
 2   Precio_Maximo  5164 non-null   float64
 3   Precio_Minimo  5164 non-null   float64
 4   Precio_Final   5164 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 242.1 KB

In [46]:
#Tomar solo dos aÃ±os de informacion
from dateutil.relativedelta import relativedelta

df_dolar = df_dolar[(df_dolar['Fecha'] >= df_dolar['Fecha'].max() - relativedelta(years=2)) & 
                    (df_dolar['Fecha'] <= df_dolar['Fecha'].max())]
df_dolar.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 522 entries, 5171 to 4650
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fecha          522 non-null    datetime64[ns]
 1   Precio_Inicio  522 non-null    float64
 2   Precio_Maximo  522 non-null    float64
 3   Precio_Minimo  522 non-null    float64
 4   Precio_Final   522 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 24.5 KB

In [49]:
#Exportar base de datos trabajada
df_dolar['Fecha'] = pd.to_datetime(df_dolar['Fecha'])
df_dolar['Fecha'] = df_dolar['Fecha'].dt.date

df_dolar.to_excel(r'C:\Users\tmoli\OneDrive\Documentos\Angel\Maestria\Materias\3. Aprendizaje Automatico\Traea 2\df_dolar.xlsx',
                  index=False)